/* Hide avatar in topbar by default */
#topbar-avatar {
  display: none !important;
}

@media (max-width: 768px) {
  #topbar-avatar {
    display: inline-block !important;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: -0.2rem;
  }

  #topbar-wrapper {
    height: 3.375rem; // ~54px
    background-color: var(--sidebar-bg) !important;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid var(--main-border-color);
  }

  #topbar-title {
    text-align: left;
    padding-left: 0.1rem; // tweak if needed
  }

  #topbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
