@media (max-width: 768px) {
  #topbar-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  #topbar-wrapper {
    background-color: var(--sidebar-bg) !important;
  }

  #topbar-title {
    text-align: left;
    padding-left: 0.25rem; // adjust as needed
  }
 }
